<%= form_with(model: @watchlist, url: watchlists_path,local: true) do |form| %>
  <div class= "px-6 py-4 text-lg">
    <%=form.hidden_field :user_id, value: current_user.id %>

    <div class="mb-4"> 
      <%= form.label :Watchlist_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%=form.text_field :name, class: "form-input mt-1 block w-3/2" %>
      <% @watchlist.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>  
    <div class="mb-4">
      <%= label_tag :visibility, "Visibility",class: "block text-gray-700 text-sm font-bold mb-2"  %>
      <%= form.select :visibility, ['open', 'closed'], selected: 'closed'%>
    </div>
    <div class="flex items-center justify-between">
      <%= form.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
<% end %>