<h1><%= @movie.name %></h1>

<p><%= @movie.description %></p>
<p><%= @movie.genre %></p>
<p><%= @movie.language %></p>
<p><%= @movie.director %></p>
<p><%=  @movie.release_date  %></p>
<p><%=@movie.rating %></p>
<p><%= @movie.run_time  %></p>
<ul>
  <li><%= link_to "Edit", edit_movie_path(@movie) %></li>
</ul>